{% extends 'base.html' %}

{% block title %}
    <title>Main</title>
{% endblock %}

{% block body %}
<body>
"Hello Student!"
<ul>
    <h2><a href="{% url 'courses' %}">Courses</a></h2>

    <h2>Groups</h2>
    {% for el in groups %}
        <li>{{ el }}</li>
    {% endfor %}

    <h2>Teachers</h2>
    {% for el in teachers %}
        <li>{{ el }}</li>
    {% endfor %}

    <h2>Students</h2>
    {% for el in students %}
        <li>{{ el }}</li>
    {% endfor %}

    <h2>Schedules</h2>
    {% for el in schedules %}
        <li>{{ el.group }} | Theme: {{ el.theme }} | Date: {{ el.lesson_datetime }}</li>
    {% endfor %}
</ul>
</body>
{% endblock %}